# R session files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Data files (generated locally by update_data.R)
data/*.rds
data/*.csv

# Shiny Deployment files
rsconnect/
manifest.json

# System files
.DS_Store
Thumbs.db